/*
  primary-color:#26a2ff;
  success-color:#4caf50;
  error-color:#ef4f4f;
*/
*{
  -webkit-user-select: none;
  -webkit-tap-highlight-color:transparent;
}
input,select{
  -webkit-user-select: text;
}
body.modal-open {
  position: fixed;
  width: 100%;
}

.lxt-content{
  padding:16px;
}
.has-header{
  padding-top:40px;
}
.mbsc-cal-day-i .mbsc-ic:before{
  font-family:'FontAwesome'!important;
}
.pd-md{
  padding:10px;
}
input {
  outline-style: none;
}
.tabs {
  position: relative;
}

.tabs .tab-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  background: #FFF;
  border-bottom: 1px solid #ddd;
}

.tabs .tab-bar .tab-item {
  text-align: center;
  padding: 0 10px;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  transition: all .3s;
}

.tabs .tab-item.active {
  font-size: 14px;
  color: #26a2ff;
}

.tabs .tab-line {
  position: absolute;
  bottom: 0;
  border-bottom: 2px solid #26a2ff;
}
.mint-button{
  font-size:14px;
}
.mint-field .mint-cell-title{
  width:80px;
  font-size:14px;
}
.mint-field .mint-cell-value{
  justify-content: flex-end;
}
.mint-field-core,.mint-radio-label,.mint-checkbox-label{
  font-size:14px;
}
.mint-header-title{
  font-size:16px;
}
.mint-header .mint-button{
  min-width:24px;
}
.mint-header .mint-button.fa{
  font-size:18px;
}
.mint-swipe-indicator.is-active{
  background:#26a2ff;
}
.mint-swipe-indicator{
  opacity: 1;
  background:rgba(0,0,0,0.5);
}
.mt-progress-progress{
  transition:width .3s linear;
}
.mint-switch-label .normal-text {
  position: absolute;
  top: 0;
  left: 2px;
  height: 32px;
  line-height: 32px;
  z-index: 1;
  font-size:14px;
}
.switch-normal{
  margin-right: -10px;
}
.switch-normal .mint-switch-core{
  width: 60px;
  border:1px solid #ef4f4f;
  background:#ef4f4f;
}
.switch-normal .mint-switch-input:checked + .mint-switch-core{
  border-color: #4caf50;
  background-color: #4caf50;
}
.switch-normal .mint-switch-core:before {
  width: 58px;
  background-color: #ef4f4f;
}
.switch-normal .mint-switch-core:after {
  z-index: 2;
  background-color: white;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: 7px;
}
.switch-normal .mint-switch-input+.mint-switch-core:after {
  content:'\f00d';
  line-height:30px;
  text-align:center;
  font-weight:bold;
  color:#ef4f4f;
  font-family: FontAwesome;
}
.switch-gender .mint-switch-input+.mint-switch-core:after {
  content:'\f222';
}
.switch-normal .mint-switch-input:checked+.mint-switch-core:after {
  -webkit-transform: translateX(28px);
  content:'\f00c';
  color:#4caf50;
}
.switch-gender .mint-switch-input:checked+.mint-switch-core:after {
  content:'\f221';
}
.switch-normal .mint-switch-label .gender-text :first-child {
    display: inline-block;
    width: 27px;
    text-align: center;
    color: #fff;
}
.mint-switch-label .normal-text :last-child {
    display: inline-block;
    width: 23px;
    text-align: center;
    color: #fff;
}
.mint-actionsheet-listitem{
  color:#26a2ff;
  font-size:16px;
}
.mint-actionsheet-button{
  color:#ef4f4f;
  font-size:14px;
}
.mint-indexlist-content{
  -webkit-overflow-scrolling: touch;
}